<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 style="margin: 50px;" class="text-center">
        OTHER LOANS
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <img
        style="
          margin-left: auto;
          margin-right: auto;
          display: block;
          margin-bottom: 50px;
        "
        src="../../../assets/products/product-detail-other-loans.jpg"
        class="img-fluid"
        alt="Responsive image"
      />
    </div>
  </div>
  <div class="row">
    <div class="content">
      <h3>
        <span style="color: red;">Auto Loan :</span> Own your dream car with Car
        loan with attractive interest rates and maximum tenure. We also assist
        in vehicle finance for all types of commercial vehicles such as trucks,
        buses, tippers, and light commercial vehicles.
      </h3>
      <h3>
        <span style="color: red;">Education Loan :</span> We provide best
        options of education loans aiming at providing financial support to
        aspiring students for pursuing higher professional education in India
        and overseas.
      </h3>

      <h3>
        <span style="color: red;">Personal Loan :</span>We assist to get best
        deals in personal loans which are a way to meet financial needs during
        an emergency. This can be availed without any collateral and can be used
        for marriage expenses, paying the medical bills, going for your dream
        vacation or renovating your home.
      </h3>
    </div>
  </div>
</div>
