<div class="container leaderAboutUs shadow-lg">
    <div class="row">
        <div class="col">
            <h1>About the Leader</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12">
            <img src="../../assets/about-us/leader.png" alt="Leader Image" /><br />
            <h4>
                Mr. Jagannath Mopare<br />
                Founder & Owner <br />
                Namarata Enterprises
            </h4>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 m">
            <div class="p-5 border bg-white">
                <h3>
                    (BA Graduate, Shivaji University, Kolhapur)Mr. Jagannath Mopare has
                    been working as a labor contractor for almost a decade, He established
                    his own business Namarata Enterprises in 2015. He came from a farmer's
                    family background and established his own business from scratch. Being
                    an Ex-Supervisor from a well-known company, he has very well knowledge
                    of managing work and time in an efficient manner. He has the expertise
                    to understand the client’s requirements and accelerate smooth and
                    hassle-free processing with Contracts. He is the driving force for
                    process excellence and is known for efficiently completing successful
                    transactions for clients within time.
                </h3>
            </div>
        </div>
    </div>
</div>