<div class="container">
  <div class="row">
    <div class="col">
      <h1>We're Namrata Enterprises</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9 col-lg-9 col-sm-12">
      <h3>Varad Fincorp established in 2018 into the financial space. Varad FinCorp believes in breaking boundaries that restrict corporates and other clients to explore options into the financial space.Constraints like dealing with financial institutions including ( Private Public and NBFC ).We believe entities & individuals already invest a lot in creating financial resources, thus should be given a complete transparent options to choose from the options that help them create wealth.We specialize in services that bring in values to the corporates as well to their stakeholders (Internal & External)
      </h3>
    </div>
    <div class="col-md-3 col-lg-3">
      <img src="../../assets/about-us/logo-about-us.png" alt="">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h1>Our Mission</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>“Our Mission is to build confidence & trust of our clients through professional
        approach to our clients and providing services that exceeds expectations.
        We will always strive to adhere ethical business practices and with integrity at all
        times putting the interests of our customers on priority. By establishing a long term
        relationship with our clients we can help them to realise their financial goals with
        effective financial planning and work towards continuous pursuit of service
        excellence.”</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1>Our Vision</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>“To be an organization that is recognized, respected and trusted by clients,
        employees, business partners and investors. Our vision is to be a leading financial
        services company in India by creating high quality, affordable and innovative
        solutions in Financial Consulting and Services.”</h3>
    </div>
  </div>
</div>

<div class="container leaderAboutUs">
  <div class="row">
    <div class="col">
      <h1>About the Leader</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12">
      <img src="../../assets/about-us/leader.png" alt="Leader Image"><br>
      <h4>Mr. Jagannath Mopare<br> Founder & Owner <br> Namarata Enterprises</h4>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-12 m">
      <div class="p-5 border bg-white">
        <h3>
          (BA Graduate, Shivaji University, Kolhapur)Mr. Jagannath Mopare has been working as a labor contractor from almost a decade, He established his own business Namarata Enterprises in 2015.
          He came from a farmer family background and established his own business from scratch.Being an Ex-Supervisor from a well known company, he has very well knowledge of managing work and time in efficient manner. He has expertise to understand the client’s requirements and
          accelerate smooth and hassle-free processing with Contracts.He is the driving force for process excellence and is known for efficiently completing
          successful transactions for clients within time.
        </h3>
      </div>
    </div>
  </div>
</div>
