<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 style="margin: 50px;" class="text-center">
        Others
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <img
        style="
          margin-left: auto;
          margin-right: auto;
          display: block;
          margin-bottom: 50px;
        "
        src="../../assets/products/product-detailes-investment.jpg"
        class="img-fluid"
        alt="Responsive image"
      />
    </div>
  </div>
  <div class="row">
    <div class="content">
      <h3>
        We also expertise in advisory and execution of Valuations &amp;
        Delisting, Rights Issues, Debt syndication &amp; Restructuring, Fairness
        opinions and a lot more.
      </h3>
    </div>
  </div>
</div>
