<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 style="margin: 50px;" class="text-center">
        BUSINESS LOANS
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <img
        style="
          margin-left: auto;
          margin-right: auto;
          display: block;
          margin-bottom: 50px;
        "
        src="../../../assets/products/product-working-bussiness-loans.jpg"
        class="img-fluid"
        alt="Responsive image"
      />
    </div>
  </div>
  <div class="row">
    <div class="content">
      <h2>
        <span style="color: #393184;">Buisness Loans for Self-employed</span>
      </h2>
      <h3>
        A business loan is an unsecured form of credit designed to cover various
        expenditures in a business. Borrowers need not mortgage any asset to
        avail funds.
      </h3>
      <h3>
        Entities, self-employed non-professionals, and self-employed
        professionals can apply for a Business Loan, after fulfilling the
        required eligibility criteria.
      </h3>
      <h2>
        <span style="color: #393184;">Loans for Professionals</span>
      </h2>
      <h3>
        As a professional, you’ve spent years to acquire specialised skills.
        From various personal financial goals to professional commitments- you
        have to manage all in a limited time.
      </h3>
      <h3>
        By factoring in your professional degree and experience, professional
        loans come with simple eligibility criteria and minimum documentation
        requirements so that you get access to funds faster than regular term
        loans.
      </h3>
      <h3>
        Doctors, chartered accountants and engineers can now get a customised
        loan for professionals with a high amount and at affordable interest
        rates.
      </h3>
    </div>
  </div>
</div>
