<div class="container">
  <div class="row">
    <div class="col-12">
      <h1  style="margin: 50px;" class="text-center" class="text-center">
        WORKING CAPITAL
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <img
        style="
          margin-left: auto;
          margin-right: auto;
          display: block;
          margin-bottom: 50px;
        "
        src="../../../assets/products/product-working-capital-insurance.jpg"
        class="img-fluid"
        alt="Responsive image"
      />
    </div>
  </div>
  <div class="row">
    <div class="content">
      <h3>
        Micro, Small &amp; Medium Enterprises (MSMEs) whether big or small, need
        financial funding at one point of time or another to cover the expenses
        of their daily business operations. A working capital loan is a type of
        advance that helps a business fund its day-to-day or short-term
        operations.
      </h3>
      <br />
      <br />
      <h3>
        <span style="color: red;">
          A working capital business loan can be used for various purposes like
          :
        </span>
        <ul>
          <li>
            Procure raw materials
          </li>
          <li>
            Purchase inventory
          </li>
          <li>
            Pay for overhead costs like electricity, rent, salaries and other
            utilities
          </li>
          <li>
            Finance blocked payments from debtors
          </li>
          <li>
            Pay suppliers in advance
          </li>
          <li>
            Maintain a healthy level of cash
          </li>
        </ul>
      </h3>
      <br />
      <br />
      <h3>
        <span style="color: red;">
          Varad Fincorp helps you explore all suitable options of Working
          capital from different financial institutions so that you benefit
          following :
        </span>
        <ul>
          <li>
            Helps you manage sales fluctuations
          </li>
          <li>
            Acts as a cash cushion
          </li>
          <li>
            Prepares your business to take up a bulk order
          </li>
          <li>
            Stabilises and boosts cash flow
          </li>
          <li>
            Equips you to leverage business opportunitiess
          </li>
        </ul>
      </h3>
    </div>
  </div>
</div>
