<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 style="margin: 50px;" class="text-center">
        MORTGAGE / NON HOUSING LOANS
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <img
        style="
          margin-left: auto;
          margin-right: auto;
          display: block;
          margin-bottom: 50px;
        "
        src="../../../assets/products/product-mortgage-slider.jpg"
        class="img-fluid"
        alt="Responsive image"
      />
    </div>
  </div>
  <div class="row">
    <div class="content">
      <h2><span style="color: #393184;">Loan Against Property</span></h2>
      <h3>
        A Loan against Property is a secured loan availed against a commercial
        or residential property which is mortgaged with the financial
        institution.
      </h3>
      <h3>
        As the funds come with no end usage restriction, borrowers can utilise
        the funds for various purposes such as business expansion, wedding,
        child’s education, etc.
      </h3>
      <h3>
        Transferring your outstanding loan availed from another Bank / Financial
        Institution for Longer tenure, smaller EMIs and attractive interest
        rates.
      </h3>
      <br />
      <h3>
        <span style="color: red;">
          Following are some of the collateral variants lenders consider with
          their Mortgage Loan product types:
        </span>
        <ul>
          <li>
            Self-occupied residential property, including house, apartment,
            flat, etc.
          </li>
          <li>
            Rented residential properties are also accepted as Property Loan
            types.
          </li>
          <li>
            Commercial property such as an office building, shops, malls,
            complexes, etc.
          </li>
          <li>
            A plot of land under your ownership is accepted as one of the
            Mortgage Loan types.
          </li>
        </ul>
      </h3>
      <h2>
        <br />
        <span style="color: #393184;"
          >Loans for Purchasing Commercial or Industrial Property</span
        >
      </h2>
      <h3>
        Banks/Financial Institutions provide different loan facilities to suit
        the financial needs of its customers and one such loan is loan for
        commercial shop purchases.
      </h3>
      <h3>
        If you want to purchase a resale, ready built or under
        construction commercial property to set up your shop or business, Varad
        Fincorp assists you to explore the best deals available across the
        financial market and provide end to end services processing the funding
        at attractive interest rates.
      </h3>
      <h3>
        You can take this loan to renovate, purchase, or construct a commercial
        space for your business.
      </h3>
      <br />
      <h2>
        <span style="color: #393184;">Lease Rental Discounting</span>
      </h2>
      <h3>
        If you own a property, you are liable to earn fixed rentals from the
        same at regular intervals.
      </h3>
      <h3>
        Lease Rental Discounting (LRD) is a term loan offered against rental
        receipts derived from lease contracts with corporate tenants. The loan
        is provided to the lesser based on the discounted value of the rentals
        and the underlying property value.
      </h3>
      <h3>
        Varad Fincorp assists you for expert advice and unmatched deals in LRD
        with minimal and hassle-free documentation till full &amp; final
        disbursement.
      </h3>
    </div>
  </div>
</div>
