<mat-tab-group mat-align-tabs="center">
  <!-- #enddocregion align-start -->
  <mat-tab label="HOME LOANS">
    <app-home-loans></app-home-loans>
  </mat-tab>
  <mat-tab label="MORTGAGE / NON HOUSING LOANS">
    <app-mortgage></app-mortgage>
  </mat-tab>
  <mat-tab label="PROJECT FUNDING"
    ><app-project-funding></app-project-funding
  ></mat-tab>
  <mat-tab label="WORKING CAPITAL"
    ><app-working-capital></app-working-capital
  ></mat-tab>
  <mat-tab label="BUSINESS LOANS"
    ><app-business-loans></app-business-loans
  ></mat-tab>
  <mat-tab label="OTHER LOANS"><app-other-loans></app-other-loans></mat-tab>
</mat-tab-group>
