<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 style="margin: 50px;" class="text-center">
        Private Equity
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <img
        style="
          margin-left: auto;
          margin-right: auto;
          display: block;
          margin-bottom: 50px;
        "
        src="../../assets/products/product-detailes-investment.jpg"
        class="img-fluid"
        alt="Responsive image"
      />
    </div>
  </div>
  <div class="row">
    <div class="content">
      <h3>
        Private Equity based funding is an instrument that can be exercised at
        an entity level or at an individual level. The borrower gets a free hand
        in the decision-making process and can decide the direction of the funds
        internally or externally. The Investor on the other hand gets to enjoy a
        certain stake in the company based on the valuations and the stakes
        offered. Usually private funding is the first step of any corporation
        towards adopting inorganic growth.
      </h3>
    </div>
  </div>
</div>
