<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 style="margin: 50px;" class="text-center">
        LIFE INSURANCE
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <img
        style="
          margin-left: auto;
          margin-right: auto;
          display: block;
          margin-bottom: 50px;
        "
        src="../../../../assets/products/product-life-insurance-slider.jpg"
        class="img-fluid"
        alt="Responsive image"
      />
    </div>
  </div>
  <div class="row">
    <div class="content">
      <h2>
        <span style="color: #393184;">TERM PLANS</span>
      </h2>
      <h3>
        Term insurance ensures financial protection to your family at the most
        affordable rates. The benefit amount is paid out to the nominee in case
        of death of the person insured.
      </h3>
      <h3>
        Varad Fincorp helps you compare quotes of multiple Insurance companies
        at one place and provide expertise advise to select plans that suffice
        your requirements considering your professional profile, family needs
        and your future goals.
        <ul>
          <li>High Sum Assured at Affordable Premium.</li>
          <li>Easy to Understand.</li>
          <li>Multiple Death Benefit Payout Options.</li>
          <li>Additional Riders.</li>
          <li>Income Tax Benefits.</li>
          <li>Critical Illness Coverage.</li>
          <li>Accidental Death Benefit Coverage.</li>
          <li>Return of Premium Option.</li>
        </ul>
      </h3>
      <br /><br />
      <h2>
        <span style="color: #393184;">INVESTMENT PLANS WITH LIFE COVER</span>
      </h2>

      <h3>
        <span style="color: red;">
          Investment plans are a combination of both Investment and Insurance.
          There are two types:
        </span>
        <ul>
          <li>
            <span style="color: #393184;">
              ULIP’s:
            </span>
            Unit Linked Insurance Plans (ULIP’s) gives returns based on overall
            market performance.
          </li>
          <li>
            <span style="color: #393184;">
              Traditional Endowment Plans:
            </span>
            provide a lumpsum or annuity payout at policy maturity.
          </li>
        </ul>
      </h3>

      <h3>
        These plans help you achieve long-term as well as short-term financial
        goals and also enhance wealth along with tax-saving.
      </h3>
      <h3>
        Varad Fincorp assists in choosing most suitable plan options that helps
        in systematic and disciplined investment ensuring that you and your
        family achieve your financial goals.
      </h3>
      <br /><br />
      <h2>
        <span style="color: #393184;">HEALTH INSURANCE</span>
      </h2>
      <h3>
        Health Insurance plans protects you and your family against medical
        costs that arise due to an accident, illness or on the diagnosis of any
        serious disease. There are different types of plans mainly :
      </h3>

      <h3>
        <span style="color: red;"
          >There are different types of plans mainly :</span
        >
        <ul>
          <li>Individual plans</li>
          <li>Family plans</li>
          <li>Critical illness insurance plans</li>
          <li>Personal accident insurance</li>
        </ul>
      </h3>

      <h3>
        <span style="color: red;"
          >Varad Fincorp helps you understand the fine print of technicalities
          in insurance policies and you get maximum benefits like:</span
        >
        <ul>
          <li>Coverage for pre and post hospitalization expenses</li>
          <li>Cashless facility</li>
          <li>Ambulance and transportation costs</li>
          <li>No-Claim Bonuses</li>
          <li>Room rent coverage</li>
          <li>Medical check-ups</li>
          <li>Tax benefits</li>
        </ul>
      </h3>
    </div>
  </div>
</div>
