<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">
        Our Products
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="card-box col-md-4">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Loans</mat-card-title>
          <mat-card-subtitle>Products</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="../../assets/products/product-detailes-loans.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>
            Meet your finance needs with the help of financial institutions providing Smooth Loan Process, Less Documentation, Easy Disbursal, Lowest Interest Rate, Flexible Pay.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
            routerLink="/product/product-loan"
            style="background-color: #313984; color: white;"
            mat-button
            color="primary"
          >
            KNOW MORE
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="card-box col-md-4">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Insurance</mat-card-title>
          <mat-card-subtitle>Products</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="../../assets/products/product-detail-life -insurance.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>
            Buy Life insurance or Home, Health, Two/Four wheeler, Travel and Personal Accident Insurance, etc. to secure yourself and the things you love. Contact to get best quotes & get expert advice to choose plans which suit your personal requirements.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
            routerLink="/product/product-insurance"
            style="background-color: #313984; color: white;"
            mat-button
            color="primary"
          >
            KNOW MORE
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="card-box col-md-4">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Investment Banking</mat-card-title>
          <mat-card-subtitle>Products</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="../../assets/products/product-detailes-investment.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>
            Primary services includes : Raising capital, Advisory/execution in mergers and acquisitions, IPO’s and performing general advisory services.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
            routerLink="/product/product-investment"
            style="background-color: #313984; color: white;"
            mat-button
            color="primary"
          >
            KNOW MORE
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
