
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12" id="col1">
      <h3 id="emiCalText">EMI Calculator</h3>
      <form>
        <div class="form-group">
          <label for="exampleInputLoanAmount"><h3>Loan Amount</h3></label>
          <input [(ngModel)]="loanAmt" type="number" class="form-control" id="exampleInputLoanAmount" aria-describedby="emailHelp" name="loanAmt" placeholder="Enter Loan Amount" >
        </div>
        <div class="form-group">
          <label for="exampleInputInterestRatePerMonth"><h3>Interest Rate (per Annum)</h3></label>
          <input [(ngModel)]="rate" type="number"  class="form-control" id="exampleInputInterestRatePerMonth" aria-describedby="emailHelp" placeholder="Enter Interest Rate per annum" name="rate">
        </div>
        <div class="form-group">
          <label for="exampleInputTenure"><h3>Tenure</h3></label>
          <input [(ngModel)]="tenure" type="number" class="form-control" id="exampleInputTenure" aria-describedby="emailHelp" placeholder="Tenure" name="tenure">
        </div>
        <button (click)="emiCalculator()" type="Calculate" class="btn btn-primary">Calculate</button>
      </form>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 text-center" id="col2" >
      <div class="row">
        <div class="col-md-12 p-2">
          <h2>Loan EMI</h2>
          <h1 style="border-bottom: 1.5px solid gray; padding-bottom: 20px;">₹ {{emiStr}}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 p-2">
          <h2>Total Payable Interest</h2>
          <h1 style="border-bottom: 1.5px solid gray; padding-bottom: 20px;">₹ {{totalPayableInterestStr}}</h1>

        </div>

      </div>
      <div class="row">
        <div class="col-md-12 p-2">
          <h2>Total of Payment</h2>
          <h2>(Principle + Interest)</h2>
          <h1>₹ {{totalPaymentStr}}</h1>
        </div>
      </div>

    </div>
    <div class="col-lg-4 col-md-4 col-sm-12" id="col3">
      <div id="divChart">
        <canvas id="myChart"></canvas>
      </div>
    </div>
  </div>
</div>




