<div class="container">
    <div class="row">
      <div class="col-12">
        <h1 style="margin: 50px;" class="text-center">
        HOME LOANS
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <img
          style="
            margin-left: auto;
            margin-right: auto;
            display: block;
            margin-bottom: 50px;
          "
          src="../../../assets/products/product-home-loan-slider.jpg"
          class="img-fluid"
          alt="Responsive image"
        />
      </div>
    </div>
    <div class="row">
      <div class="content">
        <h3>
          Buying a house is a dream for many and involves a lot of financial
          planning. Fulfil your dream to buy, build, renovate or redecorate
          your home with variety of home loans. Enjoy attractive interest
          rates, transparent charges, quick processing and easy repayment
          options.
        </h3>
        <h3>
          Varad Fincorp assists you for expert advice and unmatched service at
          every step, with minimal and hassle-free documentation till full
          &amp; final disbursement. Benefit from pocket-friendly EMI options
          and flexible repayment tenures and choose any of the below
          requirements :
        </h3>
        <h3>
          <span style="color: red;">Home Loan:</span> Home loans for
          individuals to purchase (fresh/resale) or construct houses.
          Application can be made individually or jointly.
        </h3>
        <h3>
          <span style="color: red;">Home Improvement Loan (HIL):</span> The
          interiors of any home reflect the personal preferences and tastes of
          its owners making it imperative to constantly upgrade to keep up
          with changing times. HIL facilitates internal and external repairs
          and other structural improvements like Painting, Waterproofing and
          Roofing, Plumbing and Electrical Works, Tiling and Flooring, Grills,
          Aluminium Windows, Compound Walls and much more.
        </h3>

        <h3>
          <span style="color: red;">Balance Transfers :</span> Do not miss a
          chance to lower your loan EMI’s when you have smarter options to
          choose from. Move your Home Loan outstanding balances to other
          financial institutions and pay lower EMI’s at attractive rates. You
          can also enjoy top-up loans on the same property and ensure the
          savings for the other dreams in life that really matter to you and
          your family.
        </h3>
      </div>
    </div>
  </div>
