<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 style="margin: 50px;" class="text-center">
        GENERAL INSURANCE
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <img
        style="
          margin-left: auto;
          margin-right: auto;
          display: block;
          margin-bottom: 50px;
        "
        src="../../../../assets/products/product-life-insurance-slider.jpg"
        class="img-fluid"
        alt="Responsive image"
      />
    </div>
  </div>
  <div class="row">
    <div class="content">
      <h3>
        <span style="color: red;">MOTOR INSURANCE :</span> Motor Insurance is
        mandatory for cars, trucks, scooters, bikes ,etc. We help you to compare
        the plans of various Insurance companies and choose the best one in an
        easy and hassle-free manner.
      </h3>
      <h3>
        <span style="color: red;">Property Insurance :</span>Property insurance
        provides coverage for loss or damage to a structure damaged or destroyed
        in a due to perils covered under Standard Fire and Special Perils
        Policy.  Your valuable assets like home, office, shop &amp; factory etc.
        can be covered under Standard Fire and Special Perils Policy which
        provides reconstruction or reinstatement of losses against :-
        <ul>
          <li>
            Fire
          </li>
          <li>
            Explosion / Implosion
          </li>
          <li>
            Riots , Strikes and Malicious Damages
          </li>
          <li>
            Air​craft damage
          </li>
          <li>
            ​Bush fire
          </li>
          <li>
            Impact damage
          </li>
          <li>
            Subsidence and landslide including rockslide demolition
          </li>
          <li>
            Bursting/overflowing of water tanks, apparatus, and pipes
          </li>
          <li>
            Missile testing operations
          </li>
          <li>
            Leakage from automatic sprinkler installation excluding loss,
            destruction, or damage
          </li>
          <li>
            S​torm, cyclone, typhoon, tempest, hurricane, flood and inundation
            and tornado​
          </li>
        </ul>
      </h3>

      <h3>
        <span style="color: red;">Travel Insurance :</span> Travel Insurance
        helps you tackle medical emergencies, unforeseen expenses and various
        other risks that you might encounter during a domestic or international
        trip. We help you to choose best plans with best quotes which benefit
        you with following -
        <ul>
          <li>
            Medical emergency and hospitalization
          </li>
          <li>Compensation for flight issues</li>
          <li>Personal liability</li>
          <li>Loss of passport</li>
          <li>Terrorism</li>
          <li>Repatriation of remains</li>
        </ul>
      </h3>
      <h3>
        <span style="color: red;">Marine Insurance :</span> It’s security for
        your goods while they are in transit by any of the modes of
        transportation namely, air, water, rail &amp; road . This policy secures
        business goods &amp; personal belongings that are being transported
        within or outside the country against vehicle collision, overturning,
        derailment, or accidents happening anywhere from the source to
        destination. This coverage can also be extended to loss or damage of
        goods due to theft, strike, riots, terrorism, and other hostile acts by
        human by opting for appropriate coverage as per one’s needs.
      </h3>

      <h3>
        <span style="color: red;">Others :</span> Varad Fincorp also assists you
        to get best quotes for insurances Group Mediclaim for employees, Workmen
        Compensation, Engineering insurance, Professional Indemnity, etc.
      </h3>
    </div>
  </div>
</div>
