<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 style="margin: 50px;" class="text-center">
        PROJECT FUNDING
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <img
        style="
          margin-left: auto;
          margin-right: auto;
          display: block;
          margin-bottom: 50px;
        "
        src="../../../assets/products/project-funding.png"
        class="img-fluid"
        alt="Responsive image"
      />
    </div>
  </div>
  <div class="row">
    <div class="content">
      <h3>
        If you have a project and it needs to be completed, then you must
        consider Varad Fincorp for the advisory services as we provide highly
        specialized assistance throughout the procedure till the loan is finally
        provided.
      </h3>
      <h3>
        When starting a new project or introducing a new aspect to the business,
        functioning doesn’t meet the planned finance schedule all the time. Some
        kind of a financial leverage is required for making the project come to
        reality.
      </h3>
      <h3>
        Project finance addresses exactly the monetary requirements of the
        exclusive project. Project finance means a loan obtained for fulfilling
        the finances which a new project brings along with it. Here the
        collateral security is the project itself, which means after the project
        is completed and begins generating revenue, the loan can be repaid.
      </h3>
      <h3>
        Banks/NBFC’s provide Project Loan to corporate borrowers for the purpose
        of capital expenditure including setting up of new/ additional
        manufacturing facilities, construction etc. Project loan is also
        available to acquire the fixed assets like land &amp; building, plant
        &amp; machinery etc.
      </h3>
    </div>
  </div>
</div>
