<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 style="margin: 50px;" class="text-center">
        IPO
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <img
        style="
          margin-left: auto;
          margin-right: auto;
          display: block;
          margin-bottom: 50px;
        "
        src="../../assets/products/product-detailes-investment.jpg"
        class="img-fluid"
        alt="Responsive image"
      />
    </div>
  </div>
  <div class="row">
    <div class="content">
      <h3>
        An Initial public offering (IPO) is the first step when a private
        corporation company decides to offer stakes to public via new stock
        issuance to raise capital which can be further used for the purpose of
        expanding the business. This transition wherein a private corporation
        graduates to public is a fairly important period for private investors.
        The private investors in the company get to enjoy the huge gains as they
        enjoy share premiums on their investments. It also allows public
        investors to participate in the offering. A company planning an IPO will
        typically select an underwriter or underwriters.
      </h3>
      <h3>
        We are tied up with category- A merchant bankers who are capable of
        executing the transaction end to end.
      </h3>
    </div>
  </div>
</div>
